<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			{% include analytics.html %}
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://cdn.counter.dev/script.js" data-id="d4ed3dea-5e80-4263-936c-f622c6d624e8" data-utcoffset="0"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hello@jamiereeve.com">email</a></li>
	        		<li><a href="https://uk.linkedin.com/in/reevio">linkedin</a></li>
				<li><a href="https://flypigeon.co/">carrier pigeon</a></li>
				</ul>
			</footer>
		</body>
	</html>
